<!DOCTYPE html>
<html>
    <%- include('../includes/head') %>
    <body>
        <%- include('../includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Bot rules</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">These are the rules for adding bot</h2>
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">

                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>On your bot page, you are <b>not</b> allowed to:</h3>
                                <p>
                                    <ol>
                                        <li>Include spam/junk, or completely irrelevant/nonsensical characters or phrases in your bot description or intentionally use up characters to reach the 300 character limit.</li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
  
      </section><!-- End About Section -->
        </main>
        <%- include('../includes/footer') %>
    </body>
</html>
