<footer class="footer">
    <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>DisList</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="credits">
        Made with <i class="fas fa-heart"></i> by DisList developers
        Theme Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>
<!-- JS -->
<script src="/assets/js/main.js"></script>