<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/privacy-policy">Privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>DisWeb</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="credits">
        Made with <i class="fas fa-heart"></i> by DisWeb developers<br>
        Theme Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>
<!-- JS -->
<script src="/assets/js/main.js"></script>