    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>DisWeb</title>
        <meta content="DisWeb is the best discord list to get your servers / bots promoted" name="description">
        <meta content="Discord, List" name="keywords">
        <link rel="icon" type="image/png" href="/assets/img/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <!-- Google Font: Open Sans -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Font Awesome 5.15.x -->
        <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15/css/all.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <!-- Bootstrap 5.0.x -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <!-- Bootstrap Icons 1.5.x -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5/font/bootstrap-icons.css" integrity="sha256-PDJQdTN7dolQWDASIoBVrjkuOEaI137FI15sqI3Oxu8=" crossorigin="anonymous">
        <!-- Animate On Scroll 2.3.x -->
        <link href="https://cdn.jsdelivr.net/npm/aos@2.3/dist/aos.min.css" rel="stylesheet" />
        <!-- CSS -->
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>
