<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="Logo">
            <span>DisList</span>
          </a>
    </div>
</header>