<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Find the best discord bots for your server here</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"></h2>
                        <!--<div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">
                                <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>-->
                    </div>
                    <!--<div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
                    </div>-->
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">

                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>Top voted bots</h3>
                                <p>
                                    Here is the list of top voted bots
                                    <!-- Some bootstrap cards here -->
                                </p>
                            </div>
                        </div>
  
            <!--<div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>-->
  
          </div>
        </div>
  
      </section><!-- End About Section -->
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
