<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Privacy policy</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">Our Privacy Policy governs your visit to disweb.xyz, and explains how we collect information and what all information we collect.</h2>
                        <h3 data-aos="fade-up" data-aos-delay="500">This privacy policy was last updated on 04-10-2021</h3>
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="row gx-0">
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <div class="content">
                            <h2>Information Collected</h2>
                            <p>
                                We (DisWeb) collect the information listed below
                                Information You Provide: We collect information from you when you voluntarily provide such information, such as when you register for access to the Services or use certain Services.
                                Information We Automatically Collect When you interact with us through the Services, we receive and store certain information such as an IP address, device ID, and your activities within the Services.
                                We may store such information or such information may be included in databases owned by Developers of DisWeb, The Services may use such information and use it with other information to track, for example, the total number of visitors to our Site.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>Advertisements</h2>
                            <p>
                                <!--We use Google Ads to show ads in diweb.xyz.-->
                                We don't advertise "disweb.xyz" in any sites.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="300">
                        <div class="content">
                            <h2>Intended Age</h2>
                            <p>
                                Our Services are for users age 13 and over and we do not knowingly collect personal information from children under the age of 13.
                                If you are under 13 this is against DISCORD TOS and this is illegal, if you are found to be under 13, we immediately take appropriate action
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="400">
                        <div class="content">
                            <h2>Security</h2>
                            <p>
                                We take all steps to protect the information you provided via the Services and the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. However, no Internet or email transmission is ever fully secure or error free.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="500">
                        <div class="content">
                            <h2>Changes to Privacy Policy</h2>
                            <p>
                                We keep updating this policy under regular review and places updates on this web page.
                            </p>
                        </div>
                    </div>
                </div>
            </section><!-- End About Section -->
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
