<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Our team</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"></h2>
                        <!--<div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">
                                <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                
                <div class="container" data-aos="fade-up">
                    <div class="row gx-0">

                        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="content">
                                <h3>Administrators</h3>
                                <p>
                                    Our admins
                                    <div class="card" style="width: 16rem;">
                                        <img class="card-img-top" src="https://cdn.discordapp.com/avatars/815204465937481749/883d202fcb3d957a7538a2f5bf90a35d.png?size=256" alt="Avatar">
                                        <div class="card-body">
                                          <h5 class="card-title">PuneetGopinath#7179</h5>
                                          <p class="card-text">I started DisList!</p>
                                          <a href="/profile/815204465937481749" class="btn btn-primary">View profile</a>
                                        </div>
                                    </div>
                                    Developer
                                    <div class="card" style="width: 16rem;">
                                        <img class="card-img-top" src="https://cdn.discordapp.com/avatars/797266146000633888/99ee62ed0cf1004bbe2148c2e8eb9422.png?size=256" alt="Avatar">
                                        <div class="card-body">
                                          <h5 class="card-title">peter p#7857</h5>
                                          <p class="card-text">I help punnet with coding site</p>
                                          <a href="/profile/797266146000633888" class="btn btn-primary">View profile</a>
                                         </div>
                                    </div>
                                    <div class="card" style="width: 16rem;">
                                        <img class="card-img-top" src="wait..." alt="Avatar">
                                        <div class="card-body">
                                          <h5 class="card-title">Neeraj#0001</h5>
                                          <p class="card-text">description</p>
                                          <a href="/profile/868182931477241896" class="btn btn-primary">View profile</a>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                                <div class="content">
                                    <h3>Moderators</h3>
                                    <p>
                                        Our mods
                                        <div class="card" style="width: 16rem;">
                                            <img class="card-img-top" src="https://cdn.discordapp.com/avatars/632652385881423873/19597635354d238b598adb683d233283.png?size=256" alt="Avatar">
                                            <div class="card-body">
                                              <h5 class="card-title">happy boy#2544</h5>
                                              <p class="card-text">Description</p>
                                              <a href="/profile/632652385881423873" class="btn btn-primary">View profile</a>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        </div>
  
      </section><!-- End About Section -->
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
