<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Our team</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400"></h2>
                        <!--<div data-aos="fade-up" data-aos-delay="600">
                            <div class="text-center text-lg-start">
                                <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= Team Section ======= -->

            <section id="team" class="team">

                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <h2>Team</h2>
                        <p>Our hard working team</p>
                    </header>

                    <div class="row gy-4">
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="member">
                                <div class="member-img">
                                    <img src="https://cdn.discordapp.com/avatars/815204465937481749/883d202fcb3d957a7538a2f5bf90a35d.png?size=256" alt="">
                                    <!--<div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>-->
                                </div>
                                <div class="member-info">
                                    <h4>PuneetGopinath#7179</h4>
                                    <span>Founder and Maintainer</span>
                                    <!--<p>I love DisWeb.</p>-->
                                    <a href="/profile/815204465937481749" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="member">
                                <div class="member-img">
                                    <img src="https://cdn.discordapp.com/avatars/693754859014324295/5b285031a110c8a1741c368985225a81.png?size=256" alt="">
                                    <!--<div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>-->
                                </div>
                                <div class="member-info">
                                    <h4>abhijoshi2k#6842</h4>
                                    <span>Co-Founder and Reviewer</span>
                                    <!--<p>I love DisWeb.</p>-->
                                    <a href="/profile/693754859014324295" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                            <div class="member">
                                <div class="member-img">
                                    <img src="https://cdn.discordapp.com/avatars/797266146000633888/99ee62ed0cf1004bbe2148c2e8eb9422.png?size=256" class="img-fluid" alt="">
                                    <!--<div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>-->
                                </div>
                                <div class="member-info">
                                    <h4>&lt;\peter&gt;#7857</h4>
                                    <span>Co-founder, Reviewer and Contributer</span>
                                    <!--<p>I help in coding the site.</p>-->
                                    <a href="/profile/797266146000633888" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                            <div class="member">
                                <div class="member-img">
                                    <img src="https://cdn.discordapp.com/avatars/868182931477241896/7ae9b9d4cd646dddaa082e2f1a1e6bb0.png?size=256" class="img-fluid" alt="">
                                    <!--<div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>-->
                                </div>
                                <div class="member-info">
                                    <h4>Neeraj#0001</h4>
                                    <span>Reviewer and Contributer</span>
                                    <!--<p>Description</p>-->
                                    <a href="/profile/868182931477241896" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
                            <div class="member">
                                <div class="member-img">
                                    <img src="https://cdn.discordapp.com/avatars/728806245573591132/a_1939a12dbc19a2d108a2d7da4ce4cc11.png?size=256" class="img-fluid" alt="">
                                    <!--<div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>-->
                                </div>
                                <div class="member-info">
                                    <h4>&lt;/Jethalal&gt;#9999</h4>
                                    <span>Moderator and Reviewer</span>
                                    <!--<p>A pround moderator and bot reviewer at DisWeb.</p>-->
                                    <a href="/profile/728806245573591132" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="600">
                            <div class="member">
                                <div class="member-img">
                                    <img src="https://cdn.discordapp.com/avatars/632652385881423873/19597635354d238b598adb683d233283.png?size=256" class="img-fluid" alt="">
                                    <!--<div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>-->
                                </div>
                                <div class="member-info">
                                    <h4>happy boy#2544</h4>
                                    <span>Moderator and Reviewer</span>
                                    <!--<p>I am a bot reviewer and mod here!</p>-->
                                    <a href="/profile/632652385881423873" class="btn btn-primary">View profile</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section><!-- End Team Section -->
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
