<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
          <!-- ======= Hero Section ======= -->
          <section id="hero" class="hero d-flex align-items-center">
              
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center">
                        <h1 data-aos="fade-up">Terms of Service</h1>
                        <h2 data-aos="fade-up" data-aos-delay="400">This page covers the Terms of Service (Terms) of UpList</h2>
                    </div>
                </div>
            </div>
  
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="row gx-0">
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>Usage Agreement</h2>
                            <p>
                                By using our site are you agreeing to the below mentioned Terms and Privacy Policy (Policy).<br>
                                You acknowledge that you have the right to use the site freely and that this right might get revoked for you, if you’re confirmed to break either these terms or the <a href="https://discord.com/terms">Terms of Service</a> and/or <a href="https://discord.com/guidelines">Community Guidelines</a> of <a href="https://discord.com/">Discord Inc</a>.<br>
                                Through logging in with discord, our site collects specific data as described in its <a href="/privacy-policy">Policy</a>. The intended usage of this data is for core functionalities of the site such as adding bots/servers.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>Changes to the Terms</h2>
                            <p>
                                We may occasionally make changes to these Terms. We will notify existing users of our platform of these changes to the best of our abilities, by the preferred method of contact of our choice. Any alert sent that notifies users of Terms changes will be sent before the new Terms take effect, at least 2 weeks before the effective date.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>Intended Age</h2>
                            <p>
                                The discord list may not be used by individuals under the minimal age described in Discord’s Terms of Service.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>Affiliation</h2>
                            <p>
                                UpList is not affiliated with, supported or made by Discord Inc. Any direct connection to Discord or any of its Trademark objects is purely coincidental.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <h2>Contact Us</h2>
                            <p>
                                If you have any questions or concerns about this Terms of Service, you may contact us by direct messaging one of our staff members on our Discord server.
                            </p>
                        </div>
                    </div>
                </div>
            </section><!-- End About Section -->
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
